.main:before, .main .tabs-actions:before, .main .show-infos-meta .genre:after {
  content: "";
  position: absolute;
  display: block; }

* {
  font-family: "Nunito";
  font-size: 16px; }

body {
  background-color: #131719; }

#loading-gif {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center; }

.main {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  overflow: hidden; }
  @media (max-width: 1600px) {
    .main {
      background-size: contain; } }
  @media (max-width: 1366px) {
    .main {
      background-size: auto 100%; } }
  .main:before {
    background: radial-gradient(circle, transparent, black);
    width: 100%;
    height: 100%; }
  .main-container {
    position: relative;
    z-index: 1; }
  .main .close-icon {
    position: absolute;
    right: 5rem;
    top: 2rem;
    width: 20px; }
  .main .tabs-wrapper .tab-item {
    color: white; }
    .main .tabs-wrapper .tab-item:focus {
      outline: none; }
  .main .tabs-actions {
    box-shadow: none;
    background-color: transparent;
    position: relative; }
    .main .tabs-actions:before {
      background-color: rgba(255, 255, 255, 0.4);
      width: 100%;
      height: 2px;
      bottom: 0; }
  .main .episodes-wrapper {
    position: absolute;
    right: 0;
    padding: 5rem 5rem; }
  .main .show-infos-meta {
    padding: 2rem 5rem; }
    .main .show-infos-meta .show-title {
      color: white;
      font-family: "Nunito";
      font-size: 3rem;
      font-weight: 700; }
    .main .show-infos-meta .meta-info {
      color: rgba(255, 255, 255, 0.5);
      position: relative;
      font-family: "Nunito";
      text-transform: uppercase;
      letter-spacing: .5px; }
    .main .show-infos-meta .genre {
      margin-right: 20px; }
      .main .show-infos-meta .genre:after {
        content: '/';
        top: 0;
        right: -10px; }
  .main .show-infos-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #131719;
    color: white;
    padding: 2rem 5rem; }
    @media (min-width: 319px) and (max-width: 767px) {
      .main .show-infos-container {
        padding-left: 2rem;
        padding-right: 2rem; } }
  .main .show-infos-tab {
    margin-bottom: 2rem; }
    .main .show-infos-tab #telecine-logo {
      position: absolute;
      right: 0;
      width: 45px;
      opacity: .5; }
  .main .show-infos-details {
    display: flex; }
    .main .show-infos-details .tabs-content {
      display: flex; }
      @media (min-width: 319px) and (max-width: 767px) {
        .main .show-infos-details .tabs-content {
          flex-direction: column; } }
      .main .show-infos-details .tabs-content-typo {
        color: white;
        font-size: 1rem;
        font-family: "Nunito"; }
      .main .show-infos-details .tabs-content .section-title {
        color: white;
        text-transform: uppercase;
        font-size: 1rem;
        font-family: "Nunito";
        letter-spacing: 2px; }
      .main .show-infos-details .tabs-content .actions {
        display: flex;
        align-items: center;
        margin-right: 2rem; }
        @media (min-width: 319px) and (max-width: 767px) {
          .main .show-infos-details .tabs-content .actions {
            justify-content: center;
            margin-right: 0;
            margin-bottom: 2rem;
            align-items: flex-start; } }
        .main .show-infos-details .tabs-content .actions-item {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          flex-direction: column;
          margin: 0 8px;
          color: rgba(255, 255, 255, 0.5);
          cursor: pointer;
          width: 90px; }
          .main .show-infos-details .tabs-content .actions-item:first-of-type {
            margin-left: 0; }
          .main .show-infos-details .tabs-content .actions-item img {
            margin-bottom: 5px; }
          .main .show-infos-details .tabs-content .actions-item p {
            margin-bottom: 0;
            text-align: center; }
            @media (min-width: 319px) and (max-width: 767px) {
              .main .show-infos-details .tabs-content .actions-item p {
                font-size: .8rem; } }
      .main .show-infos-details .tabs-content .cast {
        background-color: rgba(255, 255, 255, 0.1);
        margin: 0 10px;
        padding: 15px 20px; }
        .main .show-infos-details .tabs-content .cast:first-of-type {
          margin-left: 0; }
