* {
    font-family: $main-font;
    font-size: 16px;
}

body {
    background-color: $ac-darker;
}

#loading-gif {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.main {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    overflow: hidden;

    @include desktop-1600 {
        background-size: contain;
    }
    @include desktop-1366 {
        background-size: auto 100%;
    }
    &:before {
        @extend %bfaf;
        background: radial-gradient(circle, transparent, black);
        width: 100%;
        height: 100%;
    }
    &-container {
        position: relative;
        z-index: 1;
    }

    .close {
        &-icon {
            position: absolute;
            right: 5rem;
            top: 2rem;
            width: 20px;
        }
    }

    .tabs {
        &-wrapper {
            .tab-item {
                color: white;

                &:focus {
                    outline: none;
                }
            }
        }
        &-actions {
            box-shadow: none;
            background-color: transparent;
            position: relative;

            &:before {
                @extend %bfaf;
                background-color: rgba(white, .4);
                width: 100%;
                height: 2px;
                bottom: 0;
            }
        }
    }
    .episodes {
        &-wrapper {
            position: absolute;
            right: 0;
            padding: 5rem 5rem;
        }
    }
    .show-infos {
        &-meta {
            padding: 2rem 5rem;

            .show-title {
                color: white;
                font-family: $main-font;
                font-size: 3rem;
                font-weight: 700;
            }
            .meta-info {
                color: rgba(white, .5);
                position: relative;
                font-family: $main-font;
                text-transform: uppercase;
                letter-spacing: .5px;
            }
            .genre {
                margin-right: 20px;

                &:after {
                    @extend %bfaf;
                    content: '/';
                    top: 0;
                    right: -10px;
                }
            }
        }
        &-container {
            position: fixed;
            width: 100%;
            // height: 20vh;
            bottom: 0;
            background-color: $ac-darker;
            color: white;
            padding: 2rem 5rem;

            @include phone {
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
        &-tab {
            margin-bottom: 2rem;

            #telecine-logo {
                position: absolute;
                right: 0;
                width: 45px;
                opacity: .5;
            }
        }
        &-details {
            display: flex;

            .tabs-content {
                display: flex;

                @include phone {
                    flex-direction: column;
                }
                &-typo {
                    color: white;
                    font-size: 1rem;
                    font-family: $main-font;
                }
                .section-title {
                    color: white;
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-family: $main-font;
                    letter-spacing: 2px;
                }
                .actions {
                    display: flex;
                    align-items: center;
                    margin-right: 2rem;

                    @include phone {
                        // flex-wrap: wrap;
                        justify-content: center;
                        margin-right: 0;
                        margin-bottom: 2rem;
                        align-items: flex-start;
                    }
                    &-item {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        flex-direction: column;
                        margin: 0 8px;
                        color: rgba(white, .5);
                        cursor: pointer;
                        width: 90px;

                        &:first-of-type {
                            margin-left: 0;
                        }
                        img {
                            margin-bottom: 5px;
                        }
                        p {
                            margin-bottom: 0;
                            text-align: center;

                            @include phone {
                                font-size: .8rem;
                            }
                        }
                    }
                }
                .cast {
                    background-color: rgba(white, .1);
                    margin: 0 10px;
                    padding: 15px 20px;

                    &:first-of-type {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
